{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Información de Ignacio Cara</h1>
    <p>Esto es una página informativa de Ignacio Cara</p>
    <a type="button" class="btn btn-lg btn-default" href="https://es.linkedin.com/pub/ignacio-cara-martín/98/45/a1b"><span class="glyphicon glyphicon-flash"></span> Linkedin</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://www.facebook.com/ignacio.caramartin"><span class="glyphicon glyphicon-download"></span> Facebook</a>
    <img src="https://pbs.twimg.com/profile_images/504623610560913408/VFGwaS2N_400x400.jpeg">
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Tutorial de procesamiento de imágenes de Matlab realizado por Ignacio Cara Martín pinchando <a href="http://matlabimagenes.blogspot.com.es/">aquí</a>.
  </div>
</div>
{% endblock %}
