{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Información de Ignacio Cara</h1>
    <p>Esto es una página informativa de Ignacio Cara</p>
    <a type="button" class="btn btn-lg btn-default" href="https://es.linkedin.com/pub/ignacio-cara-martín/98/45/a1b"><span class="glyphicon glyphicon-flash"></span> Linkedin</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://www.facebook.com/ignacio.caramartin"><span class="glyphicon glyphicon-download"></span> Facebook</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Tutorial de procesamiento de imágenes de Matlab realizado por Ignacio Cara Martín pinchando <a href="http://matlabimagenes.blogspot.com.es/">aquí</a>.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span>Python tutorial</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/borja/python-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it grabbed all the dependencies in the <a href="https://github.com/ignaciocara/python-getting-started/blob/master/requirements.txt">requirements.txt file</a>.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
        <li>Check out the <a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started</a> guide to learn more!</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for Heroku</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>
{% endblock %}
